@model PremiumMedStore.Models.Measure

@{
    ViewData["Title"] = "Details";
}



<div class="ml-3">
    <h1>Detallar</h1>

    <h4>Tədbirlər</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Başlıq
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
           Tarix
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
           Qısa Mövzu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class="col-sm-2">
           Tam Mövzu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullDesc)
        </dd>
    </dl>
</div>
<div class="ml-3">
    <a asp-action="Edit" asp-route-id="@Model.Id">Dəyisdir</a> |
    <a asp-action="Index">Geri</a>
</div>
