@model PremiumMedStore.Models.ProductCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Detallar</h1>

<div>
    <h4>Kateqoriyalar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Dəyişdir</a> |
    <a asp-action="Index">Geri</a>
</div>
